%h1 Welcome to the CCGD proposal submission website
-if logged_in?
  %h2 Hello, #{ current_user.firstname }!
-else
  %p Please log in to proceed into the site.
  .row
    .col-md-8
      .panel.panel-default.login-form
        .panel-body
          = form_for(:session, url: login_path) do |f|
            .form-group
              = f.label :username
              = f.text_field :username, placeholder: "Username", class: 'form-control input-lg', required: true 

            .form-group
              = f.label :password
              = f.password_field :password, placeholder: "Password", class: 'form-control input-lg', required: true 
            = f.submit "Log in", class: 'btn btn-primary btn-lg btn-block'
            %p.small Don't have an account yet? #{link_to "Create an account", signup_path}
            %p.small Forgot your password? #{link_to "Reset password", new_password_reset_path}
