%h1 Welcome to the CCGD proposal submission website
%p Please log in to proceed into the site.
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        = form_for(:session, url: login_path) do |f|
          .form-group
            = f.label :username
            = f.text_field :username, placeholder: "Username", class: 'form-control', required: true 

          .form-group
            = f.label :password
            = f.password_field :password, placeholder: "Password", class: 'form-control', required: true 
          = f.submit "Log in", class: 'btn btn-primary btn-lg'
          %p.small Don't have an account yet? #{link_to "Create an account", signup_path}
          %p.small Forgot your password? #{link_to "Reset password", new_password_resets_path}
