- if @user.errors.any?
  =render 'errors'
.row
  .col-md-4
    .form-group
      = f.label :firstname, "First name"
      = f.text_field :firstname, class: 'form-control', placeholder: 'First name', required: true
    .form-group
      = f.label :lastname, "Last name"
      = f.text_field :lastname, class: 'form-control', placeholder: 'Last name', required: true
    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control', placeholder: 'Email address', required: true
    .form-group
      = f.label :phone
      = f.text_field :phone, class: 'form-control', placeholder: 'Phone number'
    .form-group
      = f.label :username, "Enter your desired username"
      = f.text_field :username, class: 'form-control', placeholder: 'Username', required: true
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, "Password confirmation"
      = f.password_field :password_confirmation, class: 'form-control'
  #select-lists.col-md-4
    -# Organizations
    .form-group
      = f.label :organizations, "Select your organization"
      = f.select :organization_id, Organization.all.order(name: :asc).collect { |org| [org.name, org.id] }, { include_blank: '-Organization-' }, { class: 'form-control' }
    .panel.panel-info
      .panel-body
        %p.text-info Can't find your organization?
        -# =link_to 'Add an organization', '#', class: 'btn btn-info'
        %button.btn.btn-info(data-toggle="collapse" data-target="#custom-org" type="button") Add a new organization
        #custom-org.collapse
          %p Please enter the following information about your organization
          .form-group
            =label_tag :custom_org_name, "Organization name"
            =text_field_tag :custom_org_name, '', class: 'form-control', placeholder: 'Organization name'
          .form-group
            =label_tag :custom_org_phone, "Organization phone"
            =text_field_tag :custom_org_phone, '', class: 'form-control', placeholder: 'Organization phone'
          .form-group
            =label_tag :custom_org_email, "Organization email"
            =text_field_tag :custom_org_email, '', class: 'form-control', placeholder: 'Organization email'
          .form-group
            =label_tag :custom_org_street, "Street"
            =text_field_tag :custom_org_street, '', class: 'form-control', placeholder: 'Street'
          .form-group
            =label_tag :custom_org_city, "City"
            =text_field_tag :custom_org_city, '', class: 'form-control', placeholder: 'City'
          .form-group
            = label_tag :state_id, "State (if applicable)"
            = select_tag :state_id, options_for_select(State.all.order(name: :asc).collect { |state| [state.code, state.id] }, { include_blank: '-State-' } ), class: 'form-control'
          .form-group
            =label_tag :custom_org_country, "Country"
            =text_field_tag :custom_org_country, '', class: 'form-control', placeholder: 'Country'

    -# LabGroups
    .form-group
      = f.label :labgroups, "Select your lab or group"
      = f.select :lab_groups, LabGroup.all.order(name: :asc).collect { |lg| [lg.name_code, lg.id] }, { include_blank: '-Lab or group-' }, { multiple: true, class: 'form-control' }
    .panel.panel-info
      .panel-body
        %p.text-info Can't find your lab or group?
        %button.btn.btn-info(data-toggle="collapse" data-target="#custom-labgroup" type="button") Add a new Lab/group
        #custom-labgroup.collapse
          %p Please enter the following information about your lab or group
          .form-group
            =label_tag :custom_labgroup_name, "Lab/group name"
            =text_field_tag :custom_labgroup_name, '', class: 'form-control', placeholder: 'Lab/group name'
          .form-group
            =label_tag :custom_labgroup_code, "Lab/group code"
            =text_field_tag :custom_labgroup_code, '', class: 'form-control', placeholder: 'Lab/group code'
          .form-group
            =label_tag :custom_labgroup_building, "Building"
            =text_field_tag :custom_labgroup_building, '', class: 'form-control', placeholder: 'Building'
          .form-group
            =label_tag :custom_labgroup_room, "Room"
            =text_field_tag :custom_labgroup_room, '', class: 'form-control', placeholder: 'Room'
          .form-group
            =label_tag :custom_labgroup_street, "Street"
            =text_field_tag :custom_labgroup_street, '', class: 'form-control', placeholder: 'Street'
          .form-group
            =label_tag :custom_org_city, "City"
            =text_field_tag :custom_org_city, '', class: 'form-control', placeholder: 'City'
          .form-group
            = label_tag :state_id, "State (if applicable)"
            = select_tag :state_id, options_for_select(State.all.order(name: :asc).collect { |state| [state.code, state.id] }, { include_blank: '-State-' } ), class: 'form-control'
          .form-group
            =label_tag :custom_org_country, "Country"
            =text_field_tag :custom_org_country, '', class: 'form-control', placeholder: 'Country'


