%h1 #{@user.full_name}'s user page
%h2 User information
%p Update any of the fields below and click the "Update user information" button
=form_for(@user) do |f|
  = render 'user_fields', f: f
  .row
    .col-md-9
      #admin-user-update.panel.panel-danger
        .panel-heading
          %h3.panel-title For admin use
        .panel-body.bg-warning
          %h4 Status
          .form-inline
            .form-group
              = f.radio_button :status, "P", class: "form-control", checked: @user.is_pending?
              = f.label :status, "Pending"
            .form-group
              = f.radio_button :status, "A", class: "form-control", checked: @user.is_active?
              = f.label :status, "Active"
            .form-group
              = f.radio_button :status, "I", class: "form-control", checked: @user.is_inactive?
              = f.label :status, "Inactive"
          %h4 Roles
          .form-inline
            .form-group
              = f.collection_check_boxes :roles, Role.all, :id, :name do |b|
                - checked = @user.role_ids.any? { |id| id == b.value }
                - disabled = b.value == 5
                = b.check_box(class: "form-control", checked: checked, disabled: disabled)
                = b.label
                %br
      = f.submit "Update user information", class: 'btn btn-primary btn-lg'

