%h1 User administration
= link_to 'Show inactive', '#', id: 'user-table-toggle-show', class: 'btn btn-default', data: { show_inactive: 0 }
%table#admin-table.table.table-hover.table-striped.table-responsive.admin-table
  %thead
    %tr
      %th.last-name Last name
      %th.first-name First name
      %th.org Organization
      %th.status Status
      - if can? :manage, @user
        %th.actions Actions
  - @users.each do |user|
    - rowclass = ''
    - rowclass = 'warning' if user.is_pending?
    - rowclass = 'info' if user.is_inactive?
    %tr(class="#{rowclass}")
      %td= user.lastname
      %td= user.firstname
      %td= user.organization.name unless user.organization.nil?
      %td.user-status= user.status_name
      - if can? :manage, @user
        %td.user-actions
          = link_to 'Edit', edit_user_path(user), class: 'user-edit btn btn-default'
          - if user.is_active?
            = link_to 'Deactivate', [user_path(user), 'status', 'I'].join('/'), class: 'user-deactivate btn btn-warning', remote: true, method: :patch
          - elsif user.is_inactive?
            = link_to 'Reactivate', [user_path(user), 'status', 'A'].join('/'), class: 'user-approve btn btn-success', remote: true, method: :patch
          - else
            = link_to 'Approve', [user_path(user), 'status', 'A'].join('/'), class: 'user-approve btn btn-success', remote: true, method: :patch
            = link_to 'Delete', user_path(user), data: { confirm: 'Are you sure you want to delete this user?' }, class: 'user-delete btn btn-primary', remote: true, method: :delete
