%h1 User administration
%table.table.table-hover.table-striped.table-responsive
  %thead
    %tr
      %th Last name
      %th First name
      %th Organization
      %th Status
      %th Actions
      %th Confirm
  %tbody
  - @users.each do |user|
    - rowclass = user.is_pending? ? 'warning' : ''
    %tr(class="#{rowclass}")
      %td= user.lastname
      %td= user.firstname
      %td= user.organization.name unless user.organization.nil?
      %td= user.status_name
      %td
        %select.form-control
          %option --Select action--
          %option(value="edit") Edit
          - if user.is_approved?
            %option(value="deactivate") Deactivate
          - else
            %option(value="approve") Approve
            %option(value="reject") Reject
      %td
        %button.btn.btn-default Confirm

