%h1 User administration
%table.table.table-hover.table-striped.table-responsive.admin-table
  %thead
    %tr
      %th.last-name Last name
      %th.first-name First name
      %th.org Organization
      %th.status Status
      %th.actions Actions
  %tbody
  - @users.each do |user|
    - rowclass = user.is_pending? ? 'warning' : ''
    %tr(class="#{rowclass}")
      %td= user.lastname
      %td= user.firstname
      %td= user.organization.name unless user.organization.nil?
      %td= user.status_name
      %td
        = link_to 'Edit', '#', class: 'btn btn-default'
        - if user.is_active?
          = link_to 'Deactivate', '#', class: 'btn btn-warning', remote: true
        - else
          = link_to 'Approve', '#', class: 'btn btn-success', remote: true
          = link_to 'Reject', '#', class: 'btn btn-primary', remote: true
