%h1 Create a CCGD user account
%p Please complete all form fields below and click the "Submit" button. You will receive an email from the CCGD admin about the status of your user account.
= form_for(@user) do |f|
  .row
    .col-md-4
      .form-group
        = f.label :firstname
        = f.text_field :firstname, class: 'form-control', placeholder: 'First name', required: true
      .form-group
        = f.label :lastname
        = f.text_field :lastname, class: 'form-control', placeholder: 'Last name', required: true
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control', placeholder: 'Email address', required: true
      .form-group
        = f.label :phone
        = f.text_field :phone, class: 'form-control', placeholder: 'Phone number'
      .form-group
        = f.label :username, "Enter your desired username"
        = f.text_field :username, class: 'form-control', placeholder: 'Username', required: true
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', required: true
      .form-group
        = f.label :password_confirmation, "Password confirmation"
        = f.password_field :password_confirmation, class: 'form-control', required: true
    .col-md-4
      -# Locations
      .form-group
        = f.label :locations, "Select your location"
        = f.select :location_id, Location.all.order(building: :asc).collect { |loc| [loc.building_room, loc.id] }, { include_blank: true }, { class: 'form-control' }

      -# Organizations
      .form-group
        = f.label :organizations, "Select your organization"
        = f.select :organization_id, Organization.all.order(name: :asc).collect { |org| [org.name, org.id] }, { include_blank: true }, { class: 'form-control' }

      -# LabGroups
      .form-group
        = f.label :labgroups, "Select your lab or group"
        = f.select :labgroup_id, LabGroup.all.order(name: :asc).collect { |lg| [lg.name, lg.id] }, { include_blank: true }, { class: 'form-control' }

  = f.submit "Create user account", class: 'btn btn-default'

