(function() {
  var add_container = '<div class="add-success alert alert-success center-block">';
  add_container += '<button type="button" class="close" data-dismiss="alert"><span>x</span></button>';
  add_container += '</div>';
  var labs_orgs = $('#labs_and_orgs');
  var org_id = '<%= params[:org_id] %>';
  var lab_id = '<%= params[:lab_id] %>';

  if(org_id != null && org_id > 0) {
    if('<%= params[:action] %>' == 'destroy') {
      confirm_action('Organization successfully deleted', '#org');
    }
    else {
      confirm_action('Organization successfully added', '#org');
      option = create_option('<%= @organization.id if @organization %>', '<%= @organization.name if @organization %>');
      append_and_select( $('#user_organization_id'), option );
    }
    clear_fields('#custom-org');
  }
  else if('<%= params[:lab_id] %>' != null && '<%= params[:lab_id] %>' > 0) {
    if('<%= params[:action] %>' == 'destroy') {
      confirm_action('Labgroup successfully deleted', '#lab');
    }
    else {
      confirm_action('Labgroup successfully added', '#lab');
      console.log('This should only appear when labgroup is added');
      option = create_option('<%= @labgroup.id if @labgroup %>', '<%= @labgroup.name if @labgroup %>');
      append_and_select( $('#user_lab_groups'), option);
    }
    clear_fields('#custom-labgroup');
  }
  else{
    console.log('An error has occurred!');
  }

  function confirm_action(text, id) {
    labs_orgs.find(id).children().remove();
    var add = labs_orgs.find(id).append(add_container);
    add.find('.add-success').append('<p class="text-success centered">' + text + '</p>').hide();
    add.find('.add-success').fadeIn(400, function() {
      $(this).find('p').show();
    });
  }

  function clear_fields(id) {
    var inputs = $(id).find('input[type="text"]');
    inputs.each(function() {
      $(this).val('');
    });
    $(id).find('select').val(null);
  }

  function append_and_select(select, option) {
    select.append(option).val( $(option).val() );
  }

  function create_option(id, name) {
    return "<option value='" + id + "'>" + name + "</option>";
  }

})();
