.page-header
  %h1 Committee voting results
%h2 Proposal
= render 'shared/proposal_static_data', proposal: @proposal
%h2 Proposal status update
#proposal-status-update.panel.panel-default
  .panel-heading
    %h3.panel-title Proposal status
  .panel-body
    = label_tag "status", "Select a proposal status"
    .form-inline
      = select_tag "Status", options_from_collection_for_select(ProposalStatus.all, "id", "name", @proposal.proposal_status.id), class: 'form-control pull-left'
      = button_to "Update", [proposal_path(@proposal), 'status', @proposal.proposal_status.id].join('/') , remote: true, method: :patch, class: 'btn btn-success', data: { toggle: 'modal', target: "#app-modal", message: message(:proposal_status_update) }
%h2 Committee votes
%table.table.table-hover.table-striped.table-responsive.member-vote-table
  %thead
    %tr
      %th.username Member username
      %th.vote Vote
      %th.comments Comments
      %th.actions Actions
  %tbody
    - @member_votes.each do |mv|
      %tr
        = form_for(mv, url: proposal_committee_member_vote_path(@proposal, @committee, mv, submitter: current_user), remote: true, method: :patch) do |f|
          %td= mv.user.username
          %td
            .form-inline
              .form-group
                .radio
                  = f.radio_button "vote_#{mv.id}", 1, checked: mv.vote_id == 1
                  = f.label :vote, "Approve"
              .form-group
                .radio
                  = f.radio_button "vote_#{mv.id}", 2, checked: mv.vote_id == 2
                  = f.label :vote, "Reject"
              .form-group
                .radio
                  = f.radio_button "vote_#{mv.id}", 3, checked: mv.vote_id == 3
                  = f.label :vote, "Request revision"

          -#%td= mv.comment if mv.comment
          %td
            .form-group
              = f.text_area :comment, class: 'form-control'
          %td
            - if mv.vote_id
              = f.submit "Update", class: 'btn btn-success modal-confirm', data: { toggle: 'modal', target: "#app-modal", message: message(:vote_update) }
            - else
              = f.submit "Vote", class: 'btn btn-success modal-confirm', data: { toggle: 'modal', target: "#app-modal", message: message(:vote_cast) }

-#= form_for [@proposal, @committee, @member_vote] do |f|
  = render 'voting_fields', f: f
  = f.submit "Cast vote", class: 'btn btn-info btn-lg'
