%p A new proposal has been submitted. Here are the details:
%p
  %strong User<br />
  #{ @proposal.user.full_name }
%p
  %strong Proposal name<br />
  #{ @proposal.name }
%p
  %strong Objectives<br />
  #{ @proposal.objectives }
%p
  %strong Background<br />
  #{ @proposal.background }
%p
  %strong Design details<br />
  #{ @proposal.design_details }
%p
  %strong Sample availability<br />
  #{ @proposal.sample_availability }
%p
  %strong Contributions<br />
  #{ @proposal.contributions }
