.form-inline.deadline-select
  .form-group
    = f.label :deadline
    -#= f.text_field :deadline, class: 'form-control small-text-field', data: { provide: 'datepicker' }
    = f.date_select :deadline, { order: [:month, :day, :year], start_year: Date.today.year }, class: 'form-control small-text-field'
.form-inline
  .form-group
    = label_tag "status", "Update proposal status"
    = select_tag "status", options_from_collection_for_select(ProposalStatus.all, "id", "name", @proposal.proposal_status.id), class: 'form-control'
.row.committee-members
  .col-md-4
    .form-group
      = label_tag "faculty", "Faculty"
      = select_tag "faculty", options_from_collection_for_select(@faculty, "id", "full_name", selected(@committee.member_votes, 2) ), multiple: true, class: 'form-control' 
  .col-md-4
    .form-group
      = label_tag "advisors", "Advisors"
      = select_tag "advisors", options_from_collection_for_select(@advisors, "id", "full_name", selected(@committee.member_votes, 4) ), multiple: true, class: 'form-control' 

