.page-header
  %h1 Form a new committee
= render 'shared/proposal_static_data', proposal: @proposal
- if can? :manage, Committee
  %h2 Administrator area
  #committee-formation.panel.panel-default
    .panel-heading
      %h3.panel-title Form a committee
    .panel-body
      = form_for [@proposal, @committee] do |f|
        .row
          .col-md-4
            .form-group
              = label_tag "faculty", "Faculty"
              = select_tag "faculty", options_from_collection_for_select(User.filter_roles(2), "id", "full_name"), multiple: true, class: 'form-control' 
          .col-md-4
            .form-group
              = label_tag "advisors", "Advisors"
              = select_tag "advisors", options_from_collection_for_select(User.filter_roles(4), "id", "full_name"), multiple: true, class: 'form-control' 


