- if @proposal.errors.any?
  =render 'errors'
.row
  .col-md-9
    %h2 Proposal information
    .form-group
      = f.label :name, "Name of proposed project"
      = f.text_field :name, class: 'form-control', placeholder: 'Proposal name', required: true
    - if can? :manage, Proposal
      .form-group
        = f.label :user_id, "Submitting user"
        = f.select :user_id, User.all.order(lastname: :asc).collect { |u| [u.full_name, u.id] }, { include_blank: '-Select user-', selected: current_user.id }, { class: 'form-control' }
    .form-group
      = f.label :lab_group_id, "Principle Investigator"
      = f.select :lab_group_id, LabGroup.all.order(name: :asc).collect { |lg| [lg.name_code, lg.id] }, { include_blank: '-Select lab/group-' }, { class: 'form-control' }
    .form-group
      = f.label :platforms, "Platform(s)"
      = f.collection_select :platforms, Platform.all, :id, :name, { include_blank: '-platforms-' }, { multiple: true, class: 'form-control' }
    .form-group
      = f.label :objectives, "Objectives"
      = f.text_area :objectives, class: 'form-control', required: true
    .form-group
      = f.label :background, "Background"
      = f.text_area :background, class: 'form-control', required: true
    .form-group
      = f.label :design_details, "Design details"
      = f.text_area :design_details, class: 'form-control', required: true
    .form-group
      = f.label :sample_availability, "Sample availability"
      = f.text_area :sample_availability, class: 'form-control', required: true
    .form-group
      = f.label :contributions, "Contributions"
      = f.text_area :contributions, class: 'form-control', required: true
    .form-group
      = f.label :comments, "Comments"
      = f.text_area :comments, class: 'form-control'
    = f.hidden_field :ccgd_policy_approval, value: nil, id: "ccgd-policy-value"
    -#.form-group
      = link_to "Read policy statement", policy_statement_path, target: '_blank'
      = f.label :ccgd_policy, "I have read accept CCGD's policy statement"
      = f.check_box :ccgd_policy, {}, 'yes'
      %br
    = render 'ccgd_policy_modal'
    = f.submit "Save draft", name: 'save_draft', class: 'btn btn-default btn-lg'
    = f.submit "Submit proposal", name: 'submit_proposal', class: 'btn btn-info btn-lg'
