.page-header
  %h1 Proposal administration
-#= link_to 'Show completed', '#', id: 'proposal-table-toggle-show', class: 'btn btn-default', data: { show_inactive: 0 }
%table#admin-table.table.table-hover.table-striped.table-responsive.proposal-table
  %thead
    %tr
      %th.name Name
      %th.username Username
      %th.labgroup Labgroup
      %th.platform Platform
      %th.date Date
      %th.status Status
      - if can? :manage, Proposal or can? :vote, Proposal 
        %th.actions Actions
  - @proposals.each do |prop|
    - rowclass = ''
    - rowclass = 'warning' if prop.is_pending?
    - rowclass = 'info' if prop.is_complete?
    %tr(class="#{rowclass}")
      %td= prop.name
      %td= prop.user.username
      %td= prop.lab_group.name
      %td= prop.platforms.first.name
      %td= prop.updated_at.strftime("%m/%d/%Y")
      %td.proposal-admin-actions
        - if can? :manage, @proposal
          #proposal-status-update
            = select_tag "Status", options_from_collection_for_select(ProposalStatus.all, "id", "code", prop.proposal_status.id), class: 'form-control pull-left'
            = button_to "Update", [proposal_path(prop), 'status', prop.proposal_status.id].join('/') , remote: true, method: :patch, class: 'btn btn-success pull-left', id: 'submit-update'
        -else
          = prop.proposal_status.name
        %td.proposal-admin-actions
          - if can? :manage, Proposal
            = link_to 'Edit', edit_proposal_path(prop), class: 'proposal-edit btn btn-default pull-left'
            - if prop.committee
              = link_to 'Edit committee', edit_proposal_committee_path(prop, prop.committee), class: 'proposal-edit btn btn-warning pull-left'
              - if can? :vote, Proposal
                = link_to 'Vote', proposal_path(prop), class: 'proposal-edit btn btn-success'
            - else
              = link_to 'Form committee', new_proposal_committee_path(prop), class: 'proposal-edit btn btn-info pull-left'
