.white
  .container
    %nav.navbar.navbar-default
      .navbar-header
        %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-nav")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #main-nav.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "Home", root_url, class: item_class(root_url)
          -if logged_in?
            %li= link_to "My profile", user_path(current_user), class: item_class(user_path(current_user))
            -if can? :vote, Proposal and !current_user.is_admin?
              %li= link_to "Proposals", proposals_path, class: item_class(proposals_path)
            -if can? :manage, :all
              %li= link_to "Users", users_path, class: item_class(users_path)
              %li= link_to "Proposals", proposals_path, class: item_class(proposals_path)
              %li= link_to "Committees", committees_path, class: item_class(committees_path)
              %li= link_to "Configuration", configurations_path, class: item_class(configurations_path)
            %li= link_to "Log out", logout_path, method: 'delete'
