<!DOCTYPE html>
%html
  %head
  %title Center for Cancer Genome Discovery (CCGD)
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/main_nav'
    .white
      .container
        .row
          .col-md-2
            = render 'layouts/side_nav' if logged_in? 
          .col-md-10
            - flash.each do |mssg_type, mssg|
              %div(class="alert alert-#{mssg_type}") #{mssg}
            .main-content
              %article
                = yield
    = render 'layouts/footer'
