<!DOCTYPE html>
%html
  %head
  %title Center for Cancer Genome Discovery (CCGD)
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    #app-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close(type="button" data-dismiss="modal" aria-label="close")
              %span(aria-hidden="true")x
            %h4.modal-title Confirm
          .modal-body
            %p
          .modal-footer
            %button.btn.btn-success.btn-lg(data-dismiss="modal") Ok
    .container
      .wrap-color
        = render 'layouts/header'
        = render 'layouts/main_nav'
        .white
          .row
            .col-md-2
              = render 'layouts/side_nav' if logged_in? 
            .col-md-10
              - flash.each do |mssg_type, mssg|
                %div(class="alert alert-#{mssg_type}") #{mssg}
              .main-content
                %article
                  = yield
              -#= debug(params) if Rails.env.development?
        = render 'layouts/footer'
